* {
  font-family:           monospace,courier;
  box-sizing:            border-box;
}

html, body {
  background-color:      hsla(  0,   0%,  0%, 0.3);
  margin:                0;
  padding:               0;
}

.my-header {
  background-color:      hsla( 50,   0%,  0%, 1);
  color:                 hsla(100,  50%, 50%, 1);
  padding-bottom:        10px;
}

ul {
  margin:                0;
}

.dummy {
  box-sizing:            border-box;
  font-family:           monospace,courier;

  margin:                0;
  padding:               0;

  color:                 hsla(100,  50%, 50%, 1)
  color:                 hsla(  0,   0%, 80%, 1);
  background-color:      hsla(  0,   0%,  0%, 0.3);
  background-color:      hsla( 50,  0%,  0%, 0.3);
}


